div .signup {
    position: absolute;
    top: 15%;
    left: 50%;

    margin-left: -150px;
    margin-right: -80px;    
}

div .login {
    position: absolute;
    top: 30%;
    left: 50%;

    margin-left: -150px;
    margin-right: -80px;    
}

div .kakao {
    position: absolute;
    top: 47%;
    left: 50%;
    /* border: solid 1px gray; ; */
    margin-left: -150px;
    margin-right: -80px;       
}

div .naver {
    position: absolute;
    top: 53%;
    left: 50%;

    margin-left: -150px;
    margin-right: -80px;    
}