/* 지우지마세요!!! 지우면 큰일나요!!! */
nav ul li {
    left: 0px;
}

.buildingList ul li {
    background-color: aqua;
    width: 180px;
    display: inline-block;
    padding: 5px 0px 5px 5px;
    list-style: none;
    margin-bottom: 5px solid #efefef;
    font-size: 12px;
    font-style: bold;
    cursor: pointer;
    text-align: center;
}

.buildingList ul li a {
    color: black;
}

.buildingList ul li:hover {
    background-color: #007b73;
}